
body{
    background-color: #f8f9fa;
}

a:link,a:visited,a:hover,a:active{
font-family: Arial,Helvetica,sans-serif;
font-weight: 700;
letter-spacing: 0em;
font-family: Alegreya Sans;
font-weight: 100;
font-style: normal;
font-size: 27px;
letter-spacing: .21em;
line-height: 1em;
text-transform: uppercase;
color: #bbbdb7;
}





 #myCarousel img {

    width: auto;
    
    height: 100vh;
    
   
    
    }

.galeria{
    margin-top:50px
}

